<!-- shows create project button on project page and create issue button if the project is open -->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-4" href="/"> π’Ύπ“π“π“π‘’ π“‰π“‡π’¶π’Έπ“€π‘’π“‡</a>
    <button type="button" class="btn btn-outline-dark">π“π’Ύπ“π“‰ π‘π’» π“…π“‡π‘π’Ώπ‘’π’Έπ“‰π“</button>
    <% if( title === "Project Page"){ %> <%- include('_issue_form'); %> <%
    }else{ %> <%- include('_project_form'); %> <% } %>
  </div>
</nav>
